# Build Artificats
build

# Deno Files
# .deno/gen
# .deno/**/*.metadata.json
.deno

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env
