package-lock.json  -diff
yarn.lock          -diff
pnpm-lock.yaml     -diff
build/*            -diff
dist/*             -diff
*.map              -diff
rev-manifest.json  -diff

build/*  linguist-vendored
dist/*   linguist-vendored
